{% extends 'base.html' %}

{% block head %}
<title>About</title>
{% endblock %}

<body>
{% block content %}

<div class="container-fluid" align="center">  
    <div class="col-sm-8" align="center">
		<h1>Togei Kyoshitsu</h1>
        <p>Founded by Mr. Nishimori, who originally started in Japanese cuisine, believed food and art should compliment one another. Thus, the opening of NY Togei Kyoshitsu.
            New York Togei Kyoshitsu was established in 1994. Situated in the same location for over 25 years, offering classes using traditional artistries that are still used in studios across Japan. Pottery in Japan is a part of the culture. Here at Togei we try to bring the same esthetics taught in Japan to New York.
            Classes are taught in both English and Japanese. Our teachers will show various Japanese techniques both in hand building and wheel throwing class. Many of our members are here to relax and enjoy their free time.
        </p>
        <p>
            ＮＹ陶芸教室は25年の歴史を持ち、その間延べ1500人に及ぶ沢山の国籍の方々がメンバーとなり陶芸に親しむ場を提供し続けてきました。
            教室はマンハッタンの中にありながら充実した設備と２５００スクエアーのゆったりしたスペースで定評があります。教室内には３台の窯が設置されており、教室独自の釉薬も豊富で、小ギャラリーにおいて、常時メンバーの作品を見ることができ、販売もされています。
            ＮＹ陶芸教室はクラス、一般会員、アーティストメンバーで構成されています。クラスは初心者〜プロコースまで幅広い構成で、働く人たちのためにも週3回夜10時までオープンしています。一般会員のオープンスタジオ使用は時間制限もなく、じっくりと作陶に取り組める理想的な環境です。またアーティストメンバーは２４時間スタジオ利用可能でレベルの高い作品を目指しています。
            ＮＹ陶芸教室は１９９４年から創立者の 沢山の仲間が陶芸の楽しみを分かち合える場を提供したい という理念に基づき運営されています。
            
        </p>
    </div>
        <br>
    <div class="col-sm-4">
        <h2>Location & Hours</h2>
        <p>5 West 30th Street<br>
            3fl<br>
            New York, 10001, US<br>
            
            212-268-1711<br>
            nytogei@gmail.com<br>
            
        </p>
        <table>
            <tr>
            <center><th colspan="2" style="text-align:center;">Hours</th></center>
            </tr>
            <tr>
                <td>Monday</td>
                <td>Closed</td>
            </tr>
            <tr>
                <td>Tuesday:</td>
                <td>12:00pm - 9:00pm</td>
            </tr>
            <tr>
                <td>Wednesday: </td>
                <td>12:00pm - 9:00pm</td>
            </tr>
            <tr>
                <td>Thursday:</td>
                <td>12:00pm - 9:00pm</td>
            </tr>
            <tr>
                <td>Friday:</td>
                <td>12:00pm - 7:00pm</td>
            </tr>
            <tr>
                <td>Saturday:</td>
                <td>12:00pm - 6:00pm</td>
            </tr>
            <tr>
                <td>Sunday:</td>
                <td>12:00pm - 6:00pm</td>
            </tr>
        </table>
    </div>
</div>
{% endblock %}
</body>