{% extends 'base.html' %}

{% block head %}
<title>Index</title>
{% endblock %}

<body>
{% block content %}
<h2>Shop</h2>
<div class="center-block">
    <h2><a href="/">pottery</a> | <a href="/merch">merch</a></h2>
</div>
<div class="divider"></div>
<div class="container-fluid">
    <div class="row">
        {% for image in images %}  
        
        <div class='col-sm-4'>
			<img src= {{url_for('static', filename='images/' + image['image'])}} class='img-thumbnail' id='itemImage' />
            <p class='text-center' style='font-weight:bold'>{{image['name']}}</p>
            <p class='text-center' style='font-weight:bold'>{{ usd(image['price']) }}</p>

            <form action="/" method="post" type="submit" align="center">
                <input name="id" type="hidden" value="{{ image['productID'] }}">
                <input type="submit" value="View">
            </form>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
</body>