{% extends 'base.html' %}

{% block head %}
<title>Index</title>
{% endblock %}

<body>
{% block content %}
<h1>Togei Kyoshitsu</h1>
<h2>Shop</h2>
<p>Pottery</p>

{% for image in images %}
	<table>
		<tr id="productName">
		    <td>
		    {{image['name']}}
		    </td>
		</tr>
		<tr id="productImage">
			<td>
			<a href="/images/{{image['image1']}}">
			<img src={{ url_for('static', filename='images/' + image['image1']) }} id="itemImage" />
			</a>
			</td>
        </tr>
{% endfor %}
    </table>
{% endblock %}
</body>